<div class="row">
	<h1 class="text-center">Upload Image</h1>
  <div class="large-6 large-centered columns">
	  <p>
	  	Upload an image for your listing: <%= Item.find(params[:item_id]).title %>
	  </p>
	  <%= form_for @item_image, html: { multipart: true } do |f| %>
		  <p>
		    <label>Item Image</label>
		    <%= f.file_field :image_path %>
		    <%= hidden_field_tag(:item_id, params[:item_id]) %>
		  </p>
		  <button class="button right">Done</button>
		<% end %>
  </div>
</div>