<h1 class="text-center">Login</h1>
<div class="row">
	<div class="large-10 large-centered columns">
		<%= form_tag '/login', method: 'post' do %>

		 <label>email</label>
		  <input type="text" name='email'>

		  <label>password</label>
		  <input type="password" name="password">


		  <button>Login</button>

		<% end %>
	</div>
</div>
