

  <div class="small-6 large-3 columns">
    <div class="tile">
      <div class="item-img">
        <a href="#"><img src="http://i.imgur.com/Mcw06Yt.png"></a>
      </div>
      <a href="#"><h3>Kickin with Kraken Tee</h3></a>
      <h5>$19.99</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.</p>
      <a class="button expand view-listing">View Listing</a>
    </div>

  </div>


<!-- <script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script> -->
