
<!-- <%= @items %> -->
<div class="row small-up-2 large-up-4">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href=""><h5>Nulla At Nulla Justo, Eget</h5></a>
    <p></p>
    <a href="#" class="button expanded">View Listing</a>
    <button>View Item </button>

  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGkKjou7IlXrvAqZt7XanRRrS8Vw2pnYw"></script>
