
<!-- SEARCH -->
<form class="search-bar" action="search" method="get">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-5 columns">
          <input name="search_input" class="search-input" type="text" placeholder="search items">
        </div>
        <div class="small-5 columns">
          <input name="search_location_input" class="search-input" type="text" placeholder="search location">
        </div>
        <div class="small-2 columns">
          <a class="button postfix">search</a>
        </div>
      </div>
    </div>
</form>


<!-- GOOGLE MAP -->

<div class="page-layout">


  <div class="map-container">
    <div class="small-12 large-6 columns">
    	<p>map here</p>
    </div>
  </div>

<!-- SEARCH RESULTS -->
<div class="searched-items">
  <div id="result-box" class="small-12 large-6 columns">
  	<h2>Search Results</h2>
    <div class="add-result-box">

    <% @result.each do |item| %>
    <div id='cover_image' data-id="<%= item.id%>" class="small-4 columns"></div>
    <div class="small-5 columns">
      <a href="#"><h5><%= item.title %></h5></a>
      <p>some description</p>
    </div>
    <div class="small-3 columns">
      <h5>$<%= item.price %></h5>
      <p><%#= item.location %></p>
      <p><%= item.loan_status %></p>
    </div>
    <hr>
  <% end %>
  </div>
</div>


</div>


<!-- JavaScript for map -->

<script>

$(document).ready(function(){
  var map = new google.maps.Map($('.map')[0],{
    zoom:5,
    center: {lat: -37.813155, lng:144.964078}
  });

//   var infoWindow = new google.maps.InfoWindow({map: map});
//
//   if (navigator.geolocation) {
//     navigator.geolocation.getCurrentPosition(function(position) {
//       var pos = {
//         lat: position.coords.latitude,
//         lng: position.coords.longitude
//       };
//
//       infoWindow.setPosition(pos);
//       infoWindow.setContent('Location found.');
//       map.setCenter(pos);
//     }, function() {
//       handleLocationError(true, infoWindow, map.getCenter());
//     });
//   } else {
//     // Browser doesn't support Geolocation
//     handleLocationError(false, infoWindow, map.getCenter());
//   }
//
//   function handleLocationError(browserHasGeolocation, infoWindow, pos) {
//     infoWindow.setPosition(pos);
//     infoWindow.setContent(browserHasGeolocation ?
//       'Error: The Geolocation service failed.' :
//       'Error: Your browser doesn\'t support geolocation.');
//   }


var options = {
  url: 'http://localhost:3000/api/items',
  type: 'get',
  dataType: 'json'
};

data.location_details.localities.locality
$.ajax(options).done(function(data){
  _.each(data, function(item){
    // var lat =
    // var long =
      var marker = new google.maps.Marker({
      position: {lat: -37.8232, lng: 144.9729},
      map: map,
      title: item.title
    });

  });
});
// $.ajax(options).done(function(data){
//   _.each(data, function(item){
//     // var lat =
//     // var long =
//       var marker = new google.maps.Marker({
//       position: {lat: -37.8232, lng: 144.9729},
//       map: map,
//       title: item.title
//     });
//   });
// })
})

//   var options = {
//   url: 'http://localhost:3000/api/items',
//   type: 'get',
//   dataType: 'json'
// }

  // $('.postfix').on('click', function() {
  //   // console.log('here')

  //   console.log($('.search-input').val())

  //   $.ajax(options).done(function(data) {
  //   items = data;
  //   var first_items = items.splice(0, 5);
  //   _.each(first_items, function(item){

  //   var template = $([
  //       "<div class='small-4 columns'>image here</div>",
  //       "<div class='small-5 columns'>",
  //       " <a href='#'><h5>" + item.title + "</h5></a>",
  //       "   <div class='small-3 columns'>",
  //       "    <p>" + item.title + "</p>",
  //       "    </div>",
  //       "    <div class='small-3 columns'>",
  //       "   <h5>" + item.price + "</h5>",
  //       "   <p>" + item.location + "</p>",
  //       "   </div>",
  //       "<hr>"
  //     ].join("\n"));

  //   $('.add-result-box').append(template);

    // var view = new DishItemView({model: dish });
    // view.render();
    // $('.dish-list').append(view.el);

    // var marker = new google.maps.Marker({
    //   position: {lat: dish.latitude, lng: dish.longitude },
    //   map: map,
    //   title: dish.name
    // });


// });


  // })

var options1 = {
  url: 'http://localhost:3000/api/item_images',
  type: 'get',
  dataType: 'json'
};

$.ajax(options1).done(function(data) {

      $('div #cover_image').each(function(index){
          var value = $( this ).data('id')

        var imageFirst = getObjects(data, 'item_id', String(value))

        $(this).append("<img src='" +imageFirst[0].image_path +"'>")
        // image_path
      });

    });

function getObjects(obj, key, val) {
    var objects = [];
    for (var i in obj) {
        if (!obj.hasOwnProperty(i)) continue;
        if (typeof obj[i] == 'object') {
            objects = objects.concat(getObjects(obj[i], key, val));
        } else
        //if key matches and value matches or if key matches and value is not passed (eliminating the case where key matches but passed value does not)
        if (i == key && obj[i] == val || i == key && val == '') { //
            objects.push(obj);
        } else if (obj[i] == val && key == ''){
            //only add if the object is not already in the array
            if (objects.lastIndexOf(obj) == -1){
                objects.push(obj);
            }
        }
    }
    return objects;
}

</script>
