<div class="row">
  <!-- IMAGES -->
  <% Item.all.each do |item|  %>
  <div class="medium-8 columns">
    <% ItemImage.all.each do |image| %>
    <!-- <#% if item.image_id == image.id %> -->
    <img class="th" src="http://placehold.it/800x600">
    <p><%= item.title %></p>
    <ul class="small-block-grid-4 image-list">
      <li>
        <a class="th" href="../img/demos/demo2.png">
          <img src="http://placehold.it/140x100">
        </a>
      </li>
      <li>
        <a class="th" href="../img/demos/demo2.png">
          <img src="http://placehold.it/140x100">
        </a>
      </li>
      <li>
        <a class="th" href="../img/demos/demo2.png">
          <img src="http://placehold.it/140x100">
          <i class="fa fa-user"></i>
        </a>
      </li>
    </ul>

  </div>

  <div class="medium-4 columns highlighted-info">
    <h2><i class="fi-torso"></i>Name</h2>
    <h4>$100</h4>
    <p>location</p>
    <button class="button secondary expand round">Contact Lender</button>
  </div>
</div>
<!-- <#% end %> -->
<% end %>
