/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lightslider
 *= require_tree .
 *= require_self

 */
@import "foundation_and_overrides";

$primary-colour: #008CBA;

/* hero */
.hero {
  background: url(image-path('blue-gradient.jpg')) no-repeat center center;
  // http://bizonagro.ru/media/upload/68213d6d-c88f-466d-a40d-8f8bd6b2fa83.JPG
  background: url(image-path('truck.JPG')) no-repeat center center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 20px;

  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}

/* tiles */
.tile {
  padding: 10px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-bottom: 10px;
}

.item-img img {
  width: 100%;
}

h3 {
  font-size: 22px;
}

h5 {
  font-weight: bold;
}

p {
  color: #888;
  font-size: 13px;
}

/* user dashboard */
.top-margin {
  margin-top: 40px;
}

/* listing */
.image-list {
  margin-top: 20px;
}

.nav-margin {
  margin-bottom: 20px;
}

.highlighted-info {
  background-color: lighten($primary-colour, 50%);
  border-radius: 10px;
}

/* search bar top */
.search-bar {
	margin-top: 20px;
}

// home hero h1 text
.hero h1 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4em;
}

/* status */
.onloan {
	color: red;
}

.available {
	color: green
}

/* update */
.update-button {
  margin-left: 10px;
}


.item-details p {
  color: black;
  font-size: 1em;
  border: 1px solid black;
}

.pagination>.current {
    font-size: 1.5em;
    background-color: lightsalmon;
    border-radius: 4px;
}


footer {
  background-color: #080808;
  color: white;
  border-top: 4px dashed;
  p {
    color: #D6E5F5;
    font-size: 13px;
    text-align: center;
  }
  i {
    color: white;
  }
}

.mapper {
  overflow: auto;
  height: 100vh;
}



/* slider */
.demo {
    width:100%;
    ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
    }
    li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor:pointer;
    }
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }

}

section.hero {
    box-shadow: 2px 2px 2px;
}

.search-top {
    background-color: #D3BFAF;
    margin-top: -20px;
}

/* masonry css */
.grid-sizer, .grid-item {
  width: 100%;
}

// .gutter-sizer { width: 4%; }

/* for masonry */
@media screen and (min-width: 500px) {
  /* 1 column for smaller screens */
  .grid-sizer, .grid-item { width: 50%; }

}

@media screen and (min-width: 900px) {
  /* 3 columns for larger screens */
  .grid-sizer, .grid-item { width: 33.33333%; }
  .hero {
    h1 {
      font-size: 6em;
    }
  }
}

@media screen and (min-width: 1200px) {
  /* 3 columns for larger screens */
  .grid-sizer, .grid-item { width: 25%; }
}
